@import "theme";

html, body {
	background-color: $theme-grey;
	overflow-x: hidden;
	font-family: $font-primary;
}

.hover-text {
	transition: all 500ms;

	&:hover {
		&, svg, path {
			color: $theme-accent !important;
		}
	}
}

.user-host-prompt {
	background-color: $theme-grey;
}

.dir {
	background-color: $theme-primary;

	& + .arrow {
		background-color: $theme-black;

		&:after {
			color: $theme-primary;
		}
	}
}

.arrow {
	color: $theme-grey;
	background-color: $theme-primary;

	&::after {
		content: '';
	}
}

.mail-prompt {
	border: none;
	color: $theme-white !important;

	&:hover {
		background-color: $theme-accent2 !important;

		span {
			background-color: $theme-accent !important;
			color: $theme-black;
		}

		& > .arrow::after {
			color: $theme-accent;
			background-color: $theme-accent2;
		}

		.dir {
			background-color: $theme-accent2 !important;

			& + .arrow {
				&:after {
					background-color: $theme-black !important;
					color: $theme-accent2;
				}
			}
		}
	}
}

.terminal {
	padding: 0.5em;
	height: 16em;
	width: 30em;
	max-width: 90vw;
	z-index: 2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	overflow-y: auto;
}

@media screen and (max-width: 600px) {
	.terminal {
		height: 20em;
		font-size: 1em;
	}
}

.navbar {
	margin-top: 1em;
	z-index: 0 !important;

	ul {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			a.active {
				color: $theme-accent !important;
			}
		}

		li:hover {
			a {
				background: transparent !important;
			}
		}
	}

	box-shadow: none;
	overflow: hidden;
}

.footer {
	position: absolute !important;
	bottom: 0;
	width: 100vw;

	ul.center {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		li svg {
			margin-left: 0.5em;
			margin-bottom: -0.1em;
			animation: rotation 10s linear infinite;
		}

		li, li path {
			color: $theme-primary;
			filter: alpha(0.8);
		}
	}
}

.date-subheader {
	color: $theme-accent2;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

a {
	&:hover {
		color: $theme-accent2 !important;
	}
}
