@import "theme";

html, body {
	background-color: $theme-black;
	overflow-x: hidden;
	font-family: $font-primary;
}

.hover-text {
	transition: all 500ms;
	&:hover {
		&, svg, path {
			color: $theme-primary !important;
		}
	}
}
